<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Hello WEBGL </title>

    <script src="../../assets/js/basic.js">
    
    </script>

    <link href="/stylesheets/carousel.css" rel="stylesheet">
  </head>

  <body onload="InitDemo();">
    <canvas id="game-surface" width="800" height="600">
			Your browser does not support HTML5
		</canvas>
		<br />
		<i>Demo is above this text</i> 
  </body>
</html>
