<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Hello WEBGL </title>

    
  </head>

  <body>

    <ul>
      <li><a href='canvasdrawing'>Just a canvas drawing </a></li>
      <li><a href='triangle'>Simple triangle </a></li>
      
      </ul>

  </body>
</html>
