<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Hello WEBGL </title>

    
  </head>

  <body>

    <ul>
      <li><a href='canvasdrawing'>Just a canvas drawing </a></li>
      <li><a href='triangle'>Simple triangle Example 2-1 : White Triangle on black background </a></li>
      <li><a href='advance_triangle'>Advance triangle Example 2-2 with DOM API : White Triangle on black background  </a></li>
      </ul>

  </body>
</html>
