<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Lunch Picker</title>

    
    <link href="/stylesheets/signup.css" rel="stylesheet">
    
  </head>

  <body>

    <div class="account-form-container">
    <form method="post" id="account-form" class="form-horizontal well span6"></form>
    <div class="header">Sign up</div>
    <p id="sub1" class="subheading">The site can help when you choose lunch menu </p>
    <hr>
    <fieldset>
      <div id="name-cg" class="contol-group">
        <label for="name-tf" class="contol-label"> Name</label>
        <div class="controls">
          <input id="name-tf" type="text" name="name">
        </div>
      </div>

      <div id="email-cg" class="contol-group">
        <label for="email-tf" class="contol-label"> Email</label>
        <div class="controls">
          <input id="email-tf" type="text" name="email">
        </div>
      </div>

      <div id="email-cg" class="contol-group">
        <label for="email-tf" class="contol-label"> NickName</label>
        <div class="controls">
          <input id="email-tf" type="text" name="email">
        </div>
      </div>


      <hr>
      <p id="sub2" class="subheading">Choose your ID & password</p>

      <div id="user-cg" class="contol-group">
        <label for="user-tf" class="contol-label"> ID</label>
        <div class="controls">
          <input id="user-tf" type="text" name="user">
        </div>
      </div>

      <div id="pass-cg" class="contol-group">
        <label for="pass-tf" class="contol-label"> Password</label>
        <div class="controls">
          <input id="pass-tf" type="text" name="password">
        </div>
      </div>
      <hr>

      <div class="form-buttons" >
        <button type="button" id="account-form-btn1" class="btn"> Cancel</button>
        <button type="submit" id="account-form-btn2" class="btn btn-primary" > Submit</button>
      </div>


    </fieldset>

      

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
